body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Montserrat;
}
html{
    scroll-behavior: smooth;
    /* enable smooth scrolling on browser*/
    /* chrome://flags/#smooth-scrolling  */
}
div{
    display: block;
}
.navbar{
    height: 3rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.2);
    background: #4d505f;
}
.current-selected a, #navbar a:hover{
    color: #44a790 !important;
    border-bottom: 5px solid #44a790;
}
.navbar img{
    width: 4.625em;
    float: left;
}
.navbar ul{
    height: 3rem;
    list-style: none;
    background: #4d505f;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-right: 56px;
}
.navbar li{
    height: 3rem;
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: #d4e2e8;
    width: 100px;
    display: block;
    padding: .8em 0 .625em 0;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.navbar a:hover{
    color: #44a790;
}
.topnav{
    height: 3rem;
    left: -10px;
}
.bg{
    min-height: 100vh;
    z-index: 2;
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
    opacity: .9;
}
.intro_title{
    font-size: 3.23rem;
    margin: 0;
}
.intro_desc{
    font-size: 2rem;
    margin-bottom: 1.1em;
}
.intro-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.button{
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 4px;
}
a.button:link, a.button:visited{
    background-color: white;
    color: black;
    padding: 12px 22px;
    border: 2px solid #44a790;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.button:hover, a.button:active{
    background-color: #44a790;
    color: white;
}
.container{
    align-items: center;
}
.button-live{
    display: inline-block;
    font-size: 1.1rem;
    width: 78px;
    color: white;
    background-color: #2a507e;
    padding: 13px 16px 10px 13px;
    margin: 12px 0 0 22px;
    text-decoration: none;
    border: none;
    text-align: center;
    transition: all 0.5s;
    border-radius: 3px;
}
.button-live span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button-live span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button-live:hover span{
    padding-right: 15px;
}
.button-live:hover span:after{
    opacity: 1;
    right: 0;
}
.button-code{
    display: inline-block;
    background-color: white;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    border: 2px solid #44a790;
    padding: 8px 16px;
    margin: 12px 0 0 12px;
    border-radius: 8px;
    width: 107px;
}
.button-code:hover{
    background-color: #44a790;
    color: white;
    
}

p{
    margin:0;
}

#About{
    min-height: 160vh;
    background: #393b42;
}
#Projects{
    min-height: 100vh;
    background: #3d3e42;
}
#Projects ul > li{
    display: inline-block;
}
#Projects ul{
    text-align: center;
    padding: 0;
}
  
#Projects li{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
  
#Projects li img{
    max-width: 100%;
    height: auto;
}
#Contact{
    min-height: 130vh;
    background: #4d4d53;
}

.loc-caption:before{
    content: attr(title);
    display: block;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    margin-bottom: 3em;
    padding-top: 1em; 
    color: #44a790;
}
.text-padding{
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    margin-bottom: 3em;
    padding-top: 1em;
    color: #d4e2e8;
}

.category-title{
    padding-top: 3.2em;
    margin: 0;
}
.category-title-underline{
    font-size: 1.8rem;
    padding-top: 4em;
    margin: 0;
    margin-bottom: 3rem;
    color: #d4e2e8;
    letter-spacing: 0.125em;
}
.category-title-underline::after{
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    left: 50%;
    width: 13.5rem;
    height: 4px;
    margin-left: -7rem;
    margin-top: 3rem;
    background-color: #44a790;
}
.category-header{
    text-align: center;
}

.home-intro{
    width:28rem;
    margin:0 auto;
    font-size:1.2rem;
    text-align:justify;
    margin-top:2rem;
    margin-bottom:2rem;
}

footer{
    padding: 8px 0 40px 0;
    position: relative;
    display: block;
    background-color: #274972;
}
.highlight{
    color: #44a790;
}
.contact-form{
    margin: auto;
    text-align: center;
    width: 33.3%;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: #44a790;
    float: right;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
input[type=submit]:hover{
    opacity: .8;
}

.img-wrap{
    position: relative;
    max-width:100%;
    max-height:100%;
}
.img-wrap img{
    width: 315px;
    height: 204px !important;
}
.img-description-layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3.5%;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 315px;
    height: 204px;
    font-family: Helvetica;
}
.img-wrap:hover .img-description-layer{
    visibility: visible;
    opacity: 1;
}
.img-description{
    transition: .2s;
    transform: translateY(1em);
}
.img-wrap:hover .img-description{
    transform: translateY(0);
}
.icon-wrap{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    float: left;
    margin-bottom: 1.3em;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons img{
    margin: 1em;
    height: 3em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border-radius: 50%;
    background-color: #e2e3ec;
}
.icons img:hover{
    background-color: #44a790;
}
.new-font{
    font-family: 'Inter';
}
#message-sent{
    font-family: Helvetica;
    font-size: .9rem;
}
.scroll-to-top{
    position: relative;
    display: inline-block;
    background: url("images/top.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border: none;
    background-color: white;
    top:-42px;
    box-shadow: 0 5px 24px 0 rgba(32, 75, 65, 0.6);
}
.scroll-to-top:hover {
    background-color: rgb(68, 167, 144);
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.3);}
.highlight-1 {color: #2f313a;}
.highlight-1 span {color:#44a790}
